@{ ViewData["Title"] = "Home Page"; }
<form action="submit" method="get">
    <input type="text" name="FirstName">
    <input type="text" name="LastName">
    <input type="number" name="Age">
    <input type="text" name="FavColor">
    <button type="submit"> Enter Data</button>
</form>